/* Адаптивные стили для портала фильмов и книг */
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #121212;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
}

main {
    padding: 1rem;
}

/* EB Garamond */
@font-face {
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/EBGaramond.woff2') format('woff2');
}

/* Open Sans 400 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../assets/fonts/OpenSans-Regular.woff2') format('woff2');
}

/* Open Sans 600 */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('../assets/fonts/OpenSans-Semibold.woff2') format('woff2');
}

.help-text {
    font-size: 0.85em;
    color: #aaa;
    margin-top: 5px;
    font-style: italic;
    display: block;
}