# Перейдите в корень проекта
cd movie-book-portal
venv
.venv
release

# Создайте .gitignore в корне
cat > .gitignore << 'EOF'
# Видео файлы
*.mp4
*.avi
*.mov
*.mkv
*.wmv
*.flv
*.webm
*.m4v
*.mpg
*.mpeg
*.3gp
*.ts
*.m2ts
*.divx
*.mp3

*.epub
*.out
*.webp
*.jpg
*.jpeg
*.apk
*.dm
*.md
# Python кэш
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Временные файлы
*.tmp
*.temp
*.log

# Системные файлы
.DS_Store
Thumbs.db
*.db
movie-book-portal/backend/media_portal.db
EOF



movie-book-portal/backend/media_portal.db
xWV2/app/release/release/baselineProfiles/1/app-release.dm
